<div class="quizz__container">
    <div class="quizz_logo">
        <img src="assets/imgs/logo.png" alt="" srcset="">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
    </div>
    <div class="quizz_results" *ngFor="let question of questions; let i = index">
        <h3>{{ question.question }}</h3>
        <div *ngFor="let option of question.options; let j = index">
        <input type="radio" [(ngModel)]="userAnswers[i]" [value]="j" name="question{{i}}" />
        {{ option }}
        </div>
    </div>
    
    <button (click)="checkAnswers()">Verificar Respostas</button>
    
    <div class="results" *ngIf="result !== ''">
        <h2>Resultado: {{ result }}</h2>
    </div>
</div>  
